{% extends "base.html" %}

{% block title %}About - RENDEZVOUS{% endblock %}
{% block content %}
    <!-- About Content -->
    <div class="container my-5">
      <h2 class="section-title">About</h2>
      <hr class="section-separator" />
      <p>
Hello! Welcome to RENDEZVOUS! This is a platform where you can share your travel experiences with others. You can create posts about your trips, add pictures, and tag the countries you visited. You can also search for posts by country, content or tag. Enjoy your stay!
      </p>
      {% load static %}
      <div class="row g-4">
        <div class="col-md-4">
          <img
            src="{% static 'images/PXL_20240323_180219191.jpg' %}"
            class="img-fluid rounded"
            alt="Alex"
          />
        </div>
        <div class="col-md-4">
          <img
            src="{% static 'images/PXL_20240323_180243892.jpg' %}"
            class="img-fluid rounded"
            alt="Rapha"
          />
        </div>
        <div class="col-md-4">
          <img
            src="{% static 'images/IMG-20240323-WA0010.jpg' %}"
            class="img-fluid rounded"
            alt="Fernando"
          />
        </div>
      </div>
      <div class="mt-4">
        <h2 class="section-title">Contact</h2>
        <hr class="section-separator" />
        <p>Email us at:</p>
        <ul>
          <li><a href="mailto:contact@contact.com">2955238r@student.gla.ac.uk</a></li>
          <li><a href="mailto:contact@contact.com">2940447t@student.gla.ac.uk</a></li>
          <li><a href="mailto:contact@contact.com">2592667p@student.gla.ac.uk</a></li>
        </ul>
      </div>
    </div>
{% endblock %}
