{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Login to Rendezvous</h1>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" value="" size="50" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" value="" size="50" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}