{% extends "base.html" %}

{% block additionalCSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <section id="user-info">
        <h1>Hi, {{ user.username }}</h1>
        <!-- User information goes here -->
        <p>Email: {{ user.email }}</p>
        <p>Country: <a href="/resources/{{ user.profile.LivingInCountryID.CountryName }}">{{ user.profile.LivingInCountryID.CountryName }}</a></p> <!-- Assuming a one-to-one relationship to a Profile model which in turn is related to a Country model -->
    </section>

    <section id="countries-visited">
        <h2>Countries Visited</h2>
        <!-- List of countries visited -->
        <ul>
        {% for country in user.profile.CountriesVisited.all %}
            <li>
                <a href="/resources/{{ country.CountryName }}">{{ country.CountryName }}</a>
            </li>
        {% empty %}
            <li>No countries visited yet.</li>
        {% endfor %}
        </ul>
    </section>

    <section id="latest-posts">
        <h2>Latest Posts</h2>
        <!-- Latest posts list -->
        <ul>
        {% for post in user.posts.all|slice:":5" %}
            <li>
                <a href="/post/{{post.PostID}}">
                <h3>{{ post.Title }}</h3>
                </a>
                <p>{{ post.Text|truncatewords:20 }}</p>
                <p>Posted on: {{ post.published_date }}</p>
            </li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}