{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    {% if registered %}
    <div class="alert alert-success" role="alert">
        Congratulations! You have registered successfully!
    </div>
    {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>User Information</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset class="form-group">
            <legend>Profile Information</legend>
            {{ profile_form.as_p }}
        </fieldset>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {% endif %}
</div>
{% endblock %}
