{% extends "base.html" %}
{% block title %}Travel Resources - {{ country }}{% endblock %}
{% block additionalCSS %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <div id="PageTitle">
    <h1>Travel Resources - {{ country }}</h1>
  </div>
    <!-- Guides and Tips -->
    <div class="container my-5">
      <h2 class="section-title">Guides and Tips</h2>
      <hr class="section-separator" />
      <div class="row">
        {% for post in guides_and_tips %}
          <div class="col-md-4">
            <a href="/post/{{ post.pk}}/">
            <div class="card bg-dark text-white">
              <img src="{{ post.Picture.url }}" class="card-img" alt="Post Image" />
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title">{{ post.Title }}</h5>
                <p class="card-text">{{ post.Text }}</p>
                <hr class="card-inside-separator" />
                <p class="card-meta">
                    <small>{{ post.UserID.username }}</small><br />
                    <small>{{ post.published_date }}</small>
                </p>
              </div>
            </div>
          </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Eats -->
    <div class="container my-5">
      <h2 class="section-title">Eats</h2>
      <hr class="section-separator" />
      <div class="row">
        {% for post in eats %}
          <div class="col-md-4">
            <a href="/post/{{ post.pk}}/">
              <div class="card bg-dark text-white">
                <img src="{{ post.Picture.url }}" class="card-img" alt="Post Image" />
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <h5 class="card-title">{{ post.Title }}</h5>
                  <p class="card-text">{{ post.Text }}</p>
                  <hr class="card-inside-separator" />
                  <p class="card-meta">
                      <small>{{ post.UserID.username }}</small><br />
                      <small>{{ post.published_date }}</small>
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Stays -->
    <div class="container my-5">
      <h2 class="section-title">Stays</h2>
      <hr class="section-separator" />
      <div class="row">
        {% for post in stays %}
          <div class="col-md-4">
            <a href="/post/{{ post.pk}}/">
              <div class="card bg-dark text-white">
                <img src="{{ post.Picture.url }}" class="card-img" alt="Post Image" />
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <h5 class="card-title">{{ post.Title }}</h5>
                  <p class="card-text">{{ post.Text }}</p>
                  <hr class="card-inside-separator" />
                  <p class="card-meta">
                      <small>{{ post.UserID.username }}</small><br />
                      <small>{{ post.published_date }}</small>
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Language -->
    <div class="container my-5">
      <h2 class="section-title">Language</h2>
      <hr class="section-separator" />
      <div class="row">
        {% for post in language %}
          <div class="col-md-4">
            <a href="/post/{{ post.pk}}/">
              <div class="card bg-dark text-white">
                <img src="{{ post.Picture.url }}" class="card-img" alt="Post Image" />
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <h5 class="card-title">{{ post.Title }}</h5>
                  <p class="card-text">{{ post.Text }}</p>
                  <hr class="card-inside-separator" />
                  <p class="card-meta">
                      <small>{{ post.UserID.username }}</small><br />
                      <small>{{ post.published_date }}</small>
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
