<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rendezvous{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Rendezvous. All rights reserved.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>